body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;

}
/* header */

.header-title{
   color : rgb(18, 139, 209);
  text-align: center;
  font-weight: 700;
  margin-top: 30px;
}
/* title */
.titles{
   color : rgb(18, 139, 209);
   font-weight: 700;
  font-size: 22px;
}


/* all product */
 .single-product{
   background-color:  whitesmoke;
   margin: 15px;
   padding: 30px;
   border-radius: 10px;
 }

 /* img */

 .product-image{
   width: 300px;
   margin: 8px;
 }

 /* box */

 .box{
   border: 1px solid rgb(187, 187, 187);
   width: 400px;
   height: 180px;
   background-color: azure;
   text-align: center;
   display: block;
   margin: auto;
   border-radius: 5px;
   margin-top: 40px;
   display: none;

 }

 /* display details */
 .details{
 text-align: center;

 }

 /* details */

.title{
   color: cadetblue;
   font-size: 23px;
   font-weight: 700;
 }

 /* cart */

 .cart{
  background-color: whitesmoke;
  border-color: rgba(23, 25, 26, 0.13);
 }
 /* search field */
.search-field {
  border: none;
  border-radius: 80px;
  padding: 5px;
  outline: none;
}
.search-field:hover {
  outline: none;
  border: none;
}
.search-box {
  border: 1px solid rgb(16, 217, 224);
  width: 300px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: 0;
}
.search-button {
  padding: 10px 50px;
  border-radius: 25px;
background-color: #3D6F58;
  margin-left: 40px;
  color: white;
}
/* price */
.price{
  font-size: 20px;
  font-weight: 700;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 20px;
  
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}
.product-image {
  width: 150px;
  height: 150px;
}
/* cart */
.add-cart{
  background-color: #3D6F58;
  color: white;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
/* responsive */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}

/* rating */

.rating{
  display: flex;
  justify-content: space-around;
}
.rate{
  color:  rgb(18, 139, 209);
  font-weight: 700;
}

@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
